*{
	margin-right: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: lightblue;
	text-align: center;
	font-family: Arial,Helvetica,sans-serif;
}

	
#navbar {
	display: flex;
	padding: 15px 0px;
}

.nav-link	{
	display: inline;
	display: flex;
	list-style-type: none;
	width: 150px;
	justify-content: center;
	align-items: center;
	color: white;
}


.nav-link	{
		display: inline;
		display: flex;
		list-style-type: none;
		width: 150px;
		justify-content: center;
		align-items: center;
		color: white;
	}




.imgs{
	border-radius: 75%;
	width: 100px

}




a {
	text-decoration: none;
}

#logo {
	width: 100px;
}

.first {
	text-align: left;
	width: 600px;
	font-style: italic;

}

span {
	color: darkred;
}




.lists li {
	text-align: right;
	list-style-type: none;

}